<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap styles -->
    <link href="/assets/themes/atlas/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/themes/atlas/css/syntax.css" rel="stylesheet">
    <!-- Atlas styles -->
	<link href="/assets/themes/atlas/css/atlas.toolkit.css" rel="stylesheet">
  	<link href="/assets/themes/atlas/css/bootstrap.datetimepicker.css" rel="stylesheet">
	<!-- Font-Awesome -->
	<link href="/assets/themes/atlas/fonts/font-awesome.min.css" rel="stylesheet">
	<!-- Sidebar -->
	<link href="/assets/themes/atlas/css/offcanvas.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/assets/themes/atlas/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!-- Update these with your own images
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
      <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- Latest compiled and minified JavaScript, requires jQuery 1.x (2.x not supported in IE8) -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/themes/atlas/js/bootstrap.js"></script>
	  <script src="/assets/themes/atlas/js/offcanvas.js"></script>
    <script src="/assets/themes/atlas/js/blockUI.js"></script>
    <script src="/assets/themes/atlas/js/moment.js"></script>
    <script src="/assets/themes/atlas/js/bootstrap.datetimepicker.js"></script>
    <script src="/assets/themes/atlas/js/bootstrap.plugins.js"></script>

  </head>
  <body class="body-none">
		<nav class="navbar navbar-inverse navbar-static-top custom-navbar">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button id="menu-toggle" type="button" class="navbar-toggle collapsed" data-toggle="offcanvas">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="/">
				Docs
			  </a>
			</div>
		  </div>
		</nav>
		<div class="markdown-body">
			<section class="container-fluid">
				<div class="row row-offcanvas row-offcanvas-left">
					<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
						{% include navbar.html %}
					</div>
					<div class="col-xs-12 col-sm-9">
						{{ content }}
					</div>
				</div>
			</section>
			</div>
			<footer>
			  <div class="container-fluid">
				<p>Atlas World Group</p>
			  </div>
			</footer>
		</div>
    {% include JB/analytics %}



	{% include anchor_links.html %}
		<script>
		function caret(elem, parent) {
		  var p = parent.id;
		  var id = elem.id;
		  if (!$("#" + id).hasClass("collapsed")) {
			$("#" + p + "Mod").removeClass("dropup");
		  } else {
		    $("#" + p + "Mod").addClass("dropup");
		  }
		}
	  /*$(window).scroll(function () {
        if ($(document).scrollTop() > 60) {
          $("#list-nav").addClass("top");
        } else {
          $("#list-nav").removeClass("top");
        }
      });*/
	</script>

  </body>
</html>
